/* USE THIS FOR HAMBURGER BUTTON ---> ≡ */
/* USE THIS FOR CLOSING OUT HAMBURGER MENU ---> ❎ */

header {
    background-color: steelblue;
}
.navigation {
    display: none;
    flex-direction: column;
    list-style: none;
    text-align: center;
}

.navigation.open {
    display: flex;
}

header nav a  {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

header nav a:hover {
    color: slategray;
}

#hamburger-button {
    font-size: 3rem;
    border: 0;
    background: none;
    color: black;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#hamburger-button::before {
    content: "≡";
}

#hamburger-button.open::before {
    content: "❎";
}

header h1 {
    padding-right: 60%;
}

/* DO NOT ALTER THE CODE BELOW HERE BECAUSE IT IS FINE*/
h2 {
    text-align: center;
    font-family: 'Roboto',sans-serif;
}

#album {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    max-width: 400px;
    max-height: 300px;
}

figure {
    text-align: center;
}

figcaption {
    font-size: 2em;
}

footer {
    background-color: steelblue;
}

footer p {
    color: black;
    font-size: 2em;
    text-align: center;
}